<head>
    <title>Console Wars - Profile</title>

    <!-- Required meta tags for Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    
    <!-- Google Web Font (Teko 500) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
    
    <!-- Google Web Font (Teko 300) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- HEADER / NAVBAR -->
    <%- include('../layout/header'); -%>
        <!-- CONTAINER -->
        <div class="container mt-5" id="profile-container">
            <!-- ROW 1 (Welcome user and logout button) -->
            <div class="row justify-content-center" id="profile-row-1">
                <!-- ROW 1 COL 1 -->
                <div class="col-md-8 rounded" id="profile-row-1-col-1">
                    <!-- ROW 1 COL 1 ROW 1 -->
                    <div class="row justify-content-center" id="profile-row-1-col-1-row-1">
                        <!-- ROW 1 COL 1 ROW 1 COL 1 -->
                        <div class="col-6 d-flex justify-content-center pt-4" id="profile-row-1-col-1-row-1-col-1">
                            Welcome back, <%=user.name%>
                                <%=user.email%>
                        </div>
                        <!-- ROW 1 COL 1 ROW 1 COL 2 -->
                        <div class="col-6 d-flex justify-content-center p-3" id="profile-row-1-col-1-row-1-col-2">
                            <a href="/logout"><button class="logout-button">Log out</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW 2 (If user voted, display system name) -->
            <% if (userVoted> 0) { %>
                <div class="row justify-content-center mt-3" id="profile-row-2">
                    <div class="col-sm-12 col-md-8 rounded-top d-flex justify-content-center pt-2" id="profile-row-2-col-1">
                        <h3>You voted for <%=userVoteData.name%>
                        </h3>
                    </div>
                </div>
                <!-- ROW 3 (if user voted display system info) -->
                <div class="row justify-content-center" id="profile-row-3">
                    <!-- ROW 3 COL 1 -->
                    <div class="col-md-8 rounded-bottom" id="profile-row-3-col-1">
                        <!-- ROW 3 COL 1 ROW 1 -->
                        <div class="row" id="profile-row-3-col-1-row-1">
                            <!-- ROW 3 COL 1 ROW 1 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-1-col-1">
                                Release year
                            </div>
                            <!-- ROW 3 COL 1 ROW 1 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-1-col-2">
                                <%=userVoteData.release_year%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 2 -->
                        <div class="row" id="profile-row-3-col-1-row-2">
                            <!-- ROW 3 COL 1 ROW 2 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-2-col-1">
                                Discontinued Year
                            </div>
                            <!-- ROW 3 COL 1 ROW 2 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-2-col-2">
                                <%=userVoteData.discontinue_year%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 3 -->
                        <div class="row" id="profile-row-3-col-1-row-3">
                            <!-- ROW 3 COL 1 ROW 3 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-3-col-1">
                                Lifespan (years)
                            </div>
                            <!-- ROW 3 COL 1 ROW 3 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-3-col-2">
                                <% if (userVoteData.discontinue_year> 0){%><%=userVoteData.discontinue_year -
                                        userVoteData.release_year%>
                                        <%}%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 4 -->
                        <div class="row" id="profile-row-3-col-1-row-4">
                            <!-- ROW 3 COL 1 ROW 4 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-4-col-1">
                                Game titles
                            </div>
                            <!-- ROW 3 COL 1 ROW 4 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-4-col-2">
                                <%=userVoteData.game_titles%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 5 -->
                        <div class="row" id="profile-row-3-col-1-row-5">
                            <!-- ROW 3 COL 1 ROW 5 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-5-col-1">
                                Generation
                            </div>
                            <!-- ROW 3 COL 1 ROW 5 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-5-col-2">
                                <%=userVoteData.generation%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 6 -->
                        <div class="row" id="profile-row-3-col-1-row-6">
                            <!-- ROW 3 COL 1 ROW 6 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-6-col-1">
                                Units sold
                            </div>
                            <!-- ROW 3 COL 1 ROW 6 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-6-col-2">
                                <%=userVoteData.units_sold%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 7 -->
                        <div class="row" id="profile-row-3-col-1-row-7">
                            <!-- ROW 3 COL 1 ROW 7 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-7-col-1">
                                System type
                            </div>
                            <!-- ROW 3 COL 1 ROW 7 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-7-col-2">
                                <%=userVoteData.system_type%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 8 -->
                        <div class="row" id="profile-row-3-col-1-row-8">
                            <!-- ROW 3 COL 1 ROW 8 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-8-col-1">
                                Successor
                            </div>
                            <!-- ROW 3 COL 1 ROW 8 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-8-col-2">
                                <%=userVoteData.successor%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 9 -->
                        <div class="row" id="profile-row-3-col-1-row-9">
                            <!-- ROW 3 COL 1 ROW 9 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-9-col-1">
                                Predecessor
                            </div>
                            <!-- ROW 3 COL 1 ROW 9 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-9-col-2">
                                <%=userVoteData.predecessor%>
                            </div>
                        </div>
                        <!-- ROW 3 COL 1 ROW 10 -->
                        <div class="row" id="profile-row-3-col-1-row-10">
                            <!-- ROW 3 COL 1 ROW 10 COL 1 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-10-col-1">
                                Manufacturer
                            </div>
                            <!-- ROW 3 COL 1 ROW 10 COL 2 -->
                            <div class="col d-flex justify-content-center" id="profile-row-3-col-1-row-10-col-2">
                                <%=userVoteData.manufacturer%>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else{ %>
                    <!-- ROW 2 (user didn't vote, display message) -->
                    <div class="row justify-content-center mt-3" id="profile-row-2">
                        <div class="col-sm-12 col-md-8 rounded d-flex justify-content-center pt-2"
                            id="profile-row-2-col-1">
                            <h3>You haven't voted for a system yet</h3>
                        </div>
                    </div>
                    <% } %>
                        <!-- ROW 4 (User commented - display 'Your Comments:' header) -->
                        <% if (userCommented> 0) { %>
                            <!-- Row 4 start -->
                            <div class="row justify-content-center mt-3" id="profile-row-4">
                                <div class="col-sm-12 col-md-8 rounded-top d-flex justify-content-center pt-2"
                                    id="profile-row-4-col-1">
                                    <h3>Your comments</h3>
                                </div>
                            </div>
                            <!-- ROW 5 (list of comments) -->
                            <div class="row justify-content-center" id="profile-row-5">
                                <div class="col-md-8 rounded-bottom" id="profile-row-5-col-1">
                                    <!-- ROW 5 COL 1 ROW X -->
                                    <% userComments.forEach(function(comment){ %>
                                        <div class="row" id="profile-row-5-col-1-row-<%=comment.id%>">
                                            <!-- ROW 5 COL 1 ROW X COL 1 -->
                                            <div class="col" id="profile-row-5-col-1-row-<%=comment.id%>-col-1">
                                                    <u><%=comment.systemname%></u>
                                                    <br>
                                                    <i><%=comment.comment%></i>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                            <% } else{ %>
                                <!-- Row 4 (You have no comments)  -->
                                <div class="row justify-content-center mt-3" id="profile-row-4">
                                    <div class="col-sm-12 col-md-8 rounded d-flex justify-content-center pt-2"
                                        id="profile-row-4-col-1">
                                        <h3>You haven't made any comments yet</h3>
                                    </div>
                                </div>
                                <% } %>
        </div>
</body>