<head>
    <title>Console Wars - Ranking</title>

    <!-- Required meta tags for Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    
    <!-- JS (The defer attribute specifies scripts should be executed after the HTML file is completely parsed) -->
    <script type="text/javascript" src="/public/controllers/systems-controller.js" defer></script>
    
    <!-- Google Web Font (Teko 500) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
    
    <!-- Google Web Font (Teko 300) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<!-- HEADER / NAVBAR -->
<%- include('../layout/header'); -%>

<!-- BUTTON GROUP FOR SORTING BUTTONS -->
<div class="btn-group d-flex justify-content-center flex-wrap mt-5" role="group" aria-label="Basic example">
  <div class="dropdown show mx-3">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Rank
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" id="sort-by-rank-asc" href="#">Ascending</a>
      <a class="dropdown-item" id="sort-by-rank-des" href="#">Descending</a>
    </div>
  </div>
<div class="dropdown show mx-3">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Release Year
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" id="sort-by-release-year-asc" href="#">Ascending</a>
      <a class="dropdown-item" id="sort-by-release-year-des" href="#">Descending</a>
    </div>
  </div>        
<div class="dropdown show mx-3">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Discontinued Year
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" id="sort-by-discontinue-year-asc" href="#">Ascending</a>
      <a class="dropdown-item" id="sort-by-discontinue-year-des" href="#">Descending</a>
    </div>
  </div>
  <div class="dropdown show mx-3">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Lifespan
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" id="sort-by-lifespan-asc" href="#">Ascending</a>
      <a class="dropdown-item" id="sort-by-lifespan-des" href="#">Descending</a>
    </div>
  </div>          
<div class="dropdown show mx-3">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Units Sold
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" id="sort-by-units-sold-asc" href="#">Ascending</a>
      <a class="dropdown-item" id="sort-by-units-sold-des" href="#">Descending</a>
    </div>
  </div>            
<div class="dropdown show mx-3">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Votes
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" id="sort-by-votes-asc" href="#">Ascending</a>
      <a class="dropdown-item" id="sort-by-votes-des" href="#">Descending</a>
    </div>
  </div> 
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-12 rounded" id="systems-table-column">
      <table class="table table-sm table-hover mt-3" id="systems-table">
        <tr>
            <td scope="col">Rank</td>
            <td scope="col">Name</td>
            <td scope="col">Release Year</td>
            <td scope="col">Discontinued Year</td>
            <td scope="col">Lifespan (years)</td>             
            <td scope="col">Units Sold</td>                
            <td scope="col">Votes</td>
        </tr>
        <tbody id="tableBody">        
            <% systems.forEach(function(system){%>       
                <tr>
                    <div class="systemID" hidden><%=system.id%></div>               
                    <% systemRanks.forEach(function(ranking){%>
                    <%if (system.id === ranking.id) {%>
                    <td class="systemRank"><%=ranking.rank%></td>
                    <%}%>
                    <%});%>
                    <td class="systemName"><a href="/systems/<%=system.id%>"><%=system.name%></a></td>                
                    <td class="systemReleaseYear"><%=system.release_year%></td>
                    <td class="systemDiscontinueYear"><%=system.discontinue_year%></td>                
                    <td class="systemLifespan"><% if (system.discontinue_year > 0){%><%=system.discontinue_year - system.release_year%><%}%></td>                               
                    <td class="systemUnitsSold"><%=system.units_sold%></td>                                
                    <td class="systemTotalVotes"><%=system.votes%></td>                          
                </tr>            
            <%});%>
        </tbody>
    </table>
    </div>
  </div>
</div>
</body>
