<!-- CSS FILE -->
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

<!-- JS (The defer attribute specifies scripts should be executed after the HTML file is completely parsed) -->
<script type="text/javascript" src="../public/controllers/systems-controller.js" defer></script>

<!-- BUTTONS -->
<button class="sort-by-release-year-asc">Sort by Release Year (asc)</button>
<button class="sort-by-release-year-des">Sort by Release Year (des)</button>
<button class="sort-by-discontinue-year-asc">Sort by Discontinued Year (asc)</button>
<button class="sort-by-discontinue-year-des">Sort by Discontinued Year (des)</button>
<button class="sort-by-lifespan-asc">Sort by Lifespan (asc)</button>
<button class="sort-by-lifespan-des">Sort by Lifespan (des)</button>
<button class="sort-by-gametitles-asc">Sort by Game Titles (asc)</button>
<button class="sort-by-gametitles-des">Sort by Game Titles (des)</button>
<button class="sort-by-generation-asc">Sort by Generation (asc)</button>
<button class="sort-by-generation-des">Sort by Generation (des)</button>
<button class="sort-by-units-sold-asc">Sort by Units Sold (asc)</button>
<button class="sort-by-units-sold-des">Sort by Units Sold (des)</button>
<button class="sort-by-comments-asc">Sort by Comments (asc)</button>
<button class="sort-by-comments-des">Sort by Comments (des)</button>
<button class="sort-by-votes-asc">Sort by Votes (asc)</button>
<button class="sort-by-votes-des">Sort by Votes (des)</button>

<!-- TODO: Integrate Bootstap 4 table formatting -->  
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Release Year</th>
            <th scope="col">Discontinued Year</th>
            <th scope="col">Lifespan (years)</th>
            <th scope="col">Game Titles</th>
            <th scope="col">Generation</th>
            <th scope="col">Units Sold</th>
            <th scope="col">System Type</th>
            <th scope="col">Successor</th>
            <th scope="col">Predecessor</th>
            <th scope="col">Comments</th>
            <th scope="col">Votes</th>
        </tr>
    </thead>
    <tbody id="tableBody">        
        <% systems.forEach(function(system){%>       
            <tr>
                <div class="systemID" hidden><%=system.id%></div>               
                <td class="systemName"><a href="/systems/<%=system.id%>"><%=system.name%></a></td>                
                <td class="systemReleaseYear"><%=system.release_year%></td>
                <td class="systemDiscontinueYear"><%=system.discontinue_year%></td>                
                <td class="systemLifespan"><% if (system.discontinue_year > 0){%><%=system.discontinue_year - system.release_year%><%}%></td>
                <td class="systemGameTitles"><%=system.game_titles%></td>
                <td class="systemGeneration"><%=system.generation%></td>
                <td class="systemUnitsSold"><%=system.units_sold%></td>
                <td class="systemType"><%=system.system_type%></td>
                <td class="systemSuccessor"><%=system.successor%></td>
                <td class="systemPredecessor"><%=system.predecessor%></td>
                <% numComments.forEach(function(commentCount){%>
                <%if (system.id === commentCount.systemID) { %>
                <td class="systemComments"><%=commentCount.numComments%></td>
                <%}%>
                <%});%>
                <td class="systemTotalVotes"><%=system.total_votes%></td>                          
            </tr>            
        <%});%>
    </tbody>
</table>
